<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="dotnet" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" /> -->
    <add key="encore-nuget" value="https://s3-us-west-2.amazonaws.com/aws.portingassistant.dotnet.download/nuget/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">                                                                                                                                                        
      <package pattern="*" />                                                                                                                                                              
    </packageSource>                                                                                                                                                                       
    <packageSource key="dotnet">                                                                                                                                                           
      <package pattern="Microsoft.*" />                                                                                                                                                    
    </packageSource>                                                                                                                                                                       
    <packageSource key="encore-nuget">                                                                                                                                                     
      <package pattern="CTA.*" />                                                                                                                                                          
      <package pattern="PortingAssistant.Client.*" />                                                                                                                                      
    </packageSource>    
</configuration>
